
@{
    ViewBag.Title = "Report";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
      
<br/>
<h2>Report</h2>
<hr />
<div id="reportTitle">
    <h3 >Starting character of the names and the number of each</h3>
</div>
<hr />
<div id="reportList">
   
    @foreach (var item in ViewBag.charList)
    {
        <p>@item</p>
    }
</div>
<div>
    @foreach (var item in ViewBag.number)
    {
        <p>@item</p>
    }
</div>
<hr />
<br />
<br />
<br />
<p>

    @Html.ActionLink("Back to List", "Index")
</p>